.details {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, 0);
  left: 50%;
  width: 80vw;
  background-color: bisque;
  padding: 50px;
  text-align: center;
}
.details p {
  text-align: justify;
}
.details h3,
h1 {
  text-align: left !important;
}

.imagebox {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  left: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, 0);
}
.btnContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
